/* =v=v=v=v=solid1 Picture=v=v=v=v= */
.solid1 img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 450px;
  left: 10%;
}
.solid1 img:hover {
  transform: scale(1.2);
}
/* =v=v=v=v=solid2 Picture=v=v=v=v= */
.solid2 img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 450px;
  left: 20%;
}
.solid2 img:hover {
  transform: scale(1.2);
}
/* =v=v=v=v=solid3 Picture=v=v=v=v= */
.solid3 img {
  width: 70px;
  height: 70px;
  position: relative;
  top: 450px;
  left: 30%;
}
.solid3 img:hover {
  transform: scale(1.2);
}
/* =v=v=v=v=solid4 Picture=v=v=v=v= */
.solid4 img {
  width: 80px;
  height: 80px;
  position: relative;
  top: 450px;
  left: 40%;
}
.solid4 img:hover {
  transform: scale(1.2);
}
/* =v=v=v=v=solid5 Picture=v=v=v=v= */
.solid5 img {
  width: 90px;
  height: 90px;
  position: relative;
  top: 450px;
  left: 50%;
}
.solid5 img:hover {
  transform: scale(1.2);
}
/* =v=v=v=v=solid6 Picture=v=v=v=v= */
.solid6 img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 450px;
  left: 60%;
}
.solid6 img:hover {
  transform: scale(1.2);
}